body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: white;
    display: flex;
    min-height: 100vh;
}

.main {
    margin-left: 250px;
    width: calc(100% - 250px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.topbar {
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    z-index: 999;
}

.topbar .profile {
    display: flex;
    align-items: center;
    gap: 20px;
    visibility: visible;
    opacity: 1;
}

.topbar .profile i {
    font-size: 1.3rem;
    cursor: pointer;
    color: #2c3e50;
}

.topbar .username {
    font-weight: 400;
    color: #333;
}

.content {
    padding: 30px;
    background-color: white;
    flex-grow: 1;
}

.menu-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

@media (max-width: 768px) {
    .main {
        margin-left: 0;
        width: 100%;
    }

    .main.sidebar-active {
        margin-left: 250px;
        width: calc(100% - 250px);
    }

    .menu-toggle {
        display: block;
    }

    .topbar {
        position: fixed;
        justify-content: space-between;
        top: 0;
        width: 100%;
        left: 0;
    }

    .content {
        padding-top: 90px;
    }

    .topbar .profile {
        display: flex;
        visibility: visible;
        opacity: 1;
    }

    .notification-popup {
        right: 10px;
        width: 90%;
        max-width: 300px;
    }
}

@media (max-width: 576px) {
    .main.sidebar-active {
        margin-left: 200px;
    }
}