*,::backdrop,:after,:before{
    --tw-border-spacing-x:0;
    --tw-border-spacing-y:0;
    --tw-translate-x:0;
    --tw-translate-y:0;
    --tw-rotate:0;
    --tw-skew-x:0;
    --tw-skew-y:0;
    --tw-scale-x:1;
    --tw-scale-y:1;
    --tw-pan-x: ;
    --tw-pan-y: ;
    --tw-pinch-zoom: ;
    --tw-scroll-snap-strictness:proximity;
    --tw-gradient-from-position: ;
    --tw-gradient-via-position: ;
    --tw-gradient-to-position: ;
    --tw-ordinal: ;
    --tw-slashed-zero: ;
    --tw-numeric-figure: ;
    --tw-numeric-spacing: ;
    --tw-numeric-fraction: ;
    --tw-ring-inset: ;
    --tw-ring-offset-width:0px;
    --tw-ring-offset-color:#fff;
    --tw-ring-color:#3b82f680;
    --tw-ring-offset-shadow:0 0 #0000;
    --tw-ring-shadow:0 0 #0000;
    --tw-shadow:0 0 #0000;
    --tw-shadow-colored:0 0 #0000;
    --tw-blur: ;
    --tw-brightness: ;
    --tw-contrast: ;
    --tw-grayscale: ;
    --tw-hue-rotate: ;
    --tw-invert: ;
    --tw-saturate: ;
    --tw-sepia: ;
    --tw-drop-shadow: ;
    --tw-backdrop-blur: ;
    --tw-backdrop-brightness: ;
    --tw-backdrop-contrast: ;
    --tw-backdrop-grayscale: ;
    --tw-backdrop-hue-rotate: ;
    --tw-backdrop-invert: ;
    --tw-backdrop-opacity: ;
    --tw-backdrop-saturate: ;
    --tw-backdrop-sepia:
}
.tw-mx-auto{
    margin-left:auto;
    margin-right:auto
}
.tw-mr-2{
    margin-right:.5rem
}
.tw-mr-3{
    margin-right:.75rem
}
.tw-mt-1{
    margin-top:.25rem
}
.tw-mt-12{
    margin-top:3rem
}
.tw-mt-6{
    margin-top:1.5rem
}
.tw-flex{
    display:flex
}
.tw-inline-flex{
    display:inline-flex
}
.tw-grid{
    display:grid
}
.tw-max-w-4xl{
    max-width:56rem
}
.tw-grid-cols-1{
    grid-template-columns:repeat(1,minmax(0,1fr))
}
.tw-flex-wrap{
    flex-wrap:wrap
}
.tw-items-center{
    align-items:center
}
.tw-justify-center{
    justify-content:center
}
.tw-gap-2{
    gap:.5rem
}
.tw-gap-4{
    gap:1rem
}
.tw-gap-x-12{
    -moz-column-gap:3rem;
    column-gap:3rem
}
.tw-gap-y-8{
    row-gap:2rem
}
.tw-rounded-3xl{
    border-radius:1.5rem
}
.tw-rounded-lg{
    border-radius:.5rem
}
.tw-rounded-xl{
    border-radius:.75rem
}
.tw-rounded-t-3xl{
    border-top-left-radius:1.5rem;
    border-top-right-radius:1.5rem
}
.tw-border{
    border-width:1px
}
.tw-border-gray-200{
    --tw-border-opacity:1;
    border-color:rgb(229 231 235/var(--tw-border-opacity))
}
.tw-bg-\[\#d94f0f\]{
    --tw-bg-opacity:1;
    background-color:rgb(217 79 15/var(--tw-bg-opacity))
}
.tw-bg-gray-100{
    --tw-bg-opacity:1;
    background-color:rgb(243 244 246/var(--tw-bg-opacity))
}
.tw-bg-gray-400{
    --tw-bg-opacity:1;
    background-color:rgb(156 163 175/var(--tw-bg-opacity))
}
.tw-bg-gray-600{
    --tw-bg-opacity:1;
    background-color:rgb(75 85 99/var(--tw-bg-opacity))
}
.tw-bg-white{
    --tw-bg-opacity:1;
    background-color:rgb(255 255 255/var(--tw-bg-opacity))
}
.tw-px-4{
    padding-left:1rem;
    padding-right:1rem
}
.tw-px-6{
    padding-left:1.5rem;
    padding-right:1.5rem
}
.tw-px-8{
    padding-left:2rem;
    padding-right:2rem
}
.tw-py-10{
    padding-top:2.5rem;
    padding-bottom:2.5rem
}
.tw-py-12{
    padding-top:3rem;
    padding-bottom:3rem
}
.tw-py-2{
    padding-top:.5rem;
    padding-bottom:.5rem
}
.tw-py-2\.5{
    padding-top:.625rem;
    padding-bottom:.625rem
}
.tw-py-5{
    padding-top:1.25rem;
    padding-bottom:1.25rem
}
.tw-py-6{
    padding-top:1.5rem;
    padding-bottom:1.5rem
}
.tw-text-center{
    text-align:center
}
.tw-text-2xl{
    font-size:1.5rem;
    line-height:2rem
}
.tw-text-3xl{
    font-size:1.875rem;
    line-height:2.25rem
}
.tw-text-\[16px\]{
    font-size:16px
}
.tw-text-base{
    font-size:1rem;
    line-height:1.5rem
}
.tw-text-lg{
    font-size:1.125rem;
    line-height:1.75rem
}
.tw-font-medium{
    font-weight:500
}
.tw-font-semibold{
    font-weight:600
}
.tw-tracking-wide{
    letter-spacing:.025em
}
.tw-text-gray-500{
    --tw-text-opacity:1;
    color:rgb(107 114 128/var(--tw-text-opacity))
}
.tw-text-gray-700{
    --tw-text-opacity:1;
    color:rgb(55 65 81/var(--tw-text-opacity))
}
.tw-text-gray-900{
    --tw-text-opacity:1;
    color:rgb(17 24 39/var(--tw-text-opacity))
}
.tw-text-white{
    --tw-text-opacity:1;
    color:rgb(255 255 255/var(--tw-text-opacity))
}
.tw-shadow-2xl{
    --tw-shadow:0 25px 50px -12px #00000040;
    --tw-shadow-colored:0 25px 50px -12px var(--tw-shadow-color)
}
.tw-shadow-2xl,.tw-shadow-md{
    box-shadow:var(--tw-ring-offset-shadow,0 0 #0000),var(--tw-ring-shadow,0 0 #0000),var(--tw-shadow)
}
.tw-shadow-md{
    --tw-shadow:0 4px 6px -1px #0000001a,0 2px 4px -2px #0000001a;
    --tw-shadow-colored:0 4px 6px -1px var(--tw-shadow-color),0 2px 4px -2px var(--tw-shadow-color)
}
.tw-transition-all{
    transition-property:all;
    transition-timing-function:cubic-bezier(.4,0,.2,1);
    transition-duration:.15s
}
.tw-duration-300{
    transition-duration:.3s
}
.hover\:tw-bg-\[\#bf4510\]:hover{
    --tw-bg-opacity:1;
    background-color:rgb(191 69 16/var(--tw-bg-opacity))
}
.hover\:tw-bg-gray-500:hover{
    --tw-bg-opacity:1;
    background-color:rgb(107 114 128/var(--tw-bg-opacity))
}
.hover\:tw-bg-gray-700:hover{
    --tw-bg-opacity:1;
    background-color:rgb(55 65 81/var(--tw-bg-opacity))
}
@media (min-width:640px){
    .sm\:tw-grid-cols-2{
        grid-template-columns:repeat(2,minmax(0,1fr))
    }
}